<div class="ordenVentana">
    <div><button mat-raised-button color='primary' (click)="cerrarVentana()">{{cerrar}}</button></div>
    <div class="ordenTarjetas">
        <div *ngIf="data.tipoAccion==='mostrarTodo'; else noMostrarTodo">
            <div *ngIf="idioma==='esp'; else noesp" class="colocacion">
                <app-fila-tabla *ngFor="let datoEsp of datosEsp" [filaPalabra]="datoEsp"></app-fila-tabla>
            </div>
            <ng-template #noesp>
                <div class="colocacion">
                    <app-fila-tabla *ngFor="let datoIng of datosIng" [filaPalabra]="datoIng"></app-fila-tabla>
                </div>
            </ng-template>
        </div>
        <ng-template #noMostrarTodo>
            <div *ngIf="idioma==='esp'; else noesp" class="colocacion">
                <app-fila-tabla [filaPalabra]="datosEsp"></app-fila-tabla>
            </div>
            <ng-template #noesp>
                <div class="colocacion">
                    <app-fila-tabla [filaPalabra]="datosIng"></app-fila-tabla>
                </div>
            </ng-template>
        </ng-template>

    </div>
    <h2>{{titulo}}</h2>
    <div class='botoneras'>
        <button mat-raised-button color='primary' (click)="editarVentana()">{{editar}}</button>
        <button mat-raised-button color='primary' (click)="borrarVentana()">{{borrar}}</button>
    </div>
</div>