<div class="ordenVentana">
    <div><button mat-raised-button color='primary' (click)="cerrarVentana()">{{cerrar}}</button></div>
    <div class="ordenTarjetas">
        <div *ngIf="data.tipoAccion==='mostrarTodo'; else noMostrarTodo">
            <div *ngIf="idioma==='esp'; else noesp" class="colocacion">
                <app-fila-tabla *ngFor="let datoEspUno of datosEsp" [filaPalabraEsp]="datoEspUno"></app-fila-tabla>
            </div>
            <ng-template #noesp>
                <div class="colocacion">
                    <app-fila-tabla-ingles *ngFor="let datoIngUno of datosIng" [filaPalabraIng]="datoIngUno"></app-fila-tabla-ingles>
                </div>
            </ng-template>
        </div>
        <ng-template #noMostrarTodo>
            <div *ngIf="idioma==='esp'; else noesp" class="colocacion">
                <app-fila-tabla [filaPalabraEsp]="datoEsp"></app-fila-tabla>
            </div>
            <ng-template #noesp>
                <div class="colocacion">
                    <app-fila-tabla-ingles [filaPalabraIng]="datoIng"></app-fila-tabla-ingles>
                </div>
            </ng-template>
        </ng-template>

    </div>
</div>