<div class='tarjeta'>
  <mat-toolbar color="primary">
    {{tituloPalabra}}: {{palabra}}
  </mat-toolbar>
  <div class="content">
    <mat-card class="mat-elevation-z4">

      <mat-card-content>
        <div *ngIf="idioma==='esp'; else noes">
          <b>{{definicion}}: </b>
          <div>
            {{descripcion}}
          </div>
        </div>
        <ng-template #noes>
        </ng-template>
        <b>{{traduccion}}: </b>
        <div *ngIf="idioma==='esp'; else noesp">
          <div *ngFor="let palabraTraducida of palabrasEsp">
            {{palabraTraducida.palabra}}
          </div>
        </div>
        <ng-template #noesp>
          <div>
            {{palabraIng.palabra}}
          </div>
        </ng-template>
        <b>{{fechaAlta}}: </b>
        <div *ngIf="idioma==='esp'; else noespa">
          {{palabraEsp.fechaAlta | date: 'dd-MM-yyyy'}}
        </div>
        <ng-template #noespa>
          <div>
            {{palabraIng.fechaAlta | date: 'dd-MM-yyyy'}}
          </div>
        </ng-template>
        <b>{{fechaModificacion}}: </b>
        <div *ngIf="idioma==='esp'; else noespal">
          <div *ngIf="fechaModificacionDate===true; else nomos">
            {{palabraEsp.fechaModificacion | date: 'dd-MM-yyyy'}}
          </div>
          <ng-template #nomos>
            No existe modificación
          </ng-template>
        </div>
        <ng-template #noespal>
          <div>
            <div *ngIf="fechaModificacionDate===true; else nomost">
            {{palabraIng.fechaModificacion | date: 'dd-MM-yyyy'}}
          </div>
          <ng-template #nomost>
            No existe modificación
          </ng-template>
          </div>
        </ng-template>


      </mat-card-content>

    </mat-card>
  </div>
</div>