<h1><b>{{titulo}}</b></h1>

<form class="buscador" [formGroup]="FormPalabra" class='formulario'>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{palabra}}</mat-label>
        <input matInput id='text' formControlName="palabra">
        <mat-icon matSuffix>create</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{descripcion}}</mat-label>
        <input matInput id='text' formControlName="descripcion">
        <mat-icon matSuffix>text_format</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!FormPalabra.valid" (click)=crearDatos()>{{crear}}</button>
</form>