<div class="doc">
    <h1><b>{{titulo}}</b></h1>
    <div class='img'>
        <img class='imagen_central' src="../../../../../assets/imagenes/diccionario.jpg">
    </div>
    <h2>{{titulo2}}</h2>
    <form class='formulario'>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{palabraMod}}</mat-label>
            <input #palabra type="text" placeholder="Pick one" matInput  [formControl]="myControl"
                [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" 
            (click)="buscarId(palabra.value)">{{buscar}}</button>
    </form>

    <mat-divider></mat-divider>
    <h2>{{titulo3}}</h2>
    <button mat-raised-button color="primary" (click)="mostrarPalabras()">{{mostrar}}</button>
</div>