<div class='tarjeta'>
  <div class="contentTile">
    <mat-toolbar color="primary">
      <b>Palabra: </b>{{palabra}}
      <div class='botoneras'>
        <button mat-raised-button (click)='onEditar()'><mat-icon>edit</mat-icon></button>
        <button mat-raised-button (click)='onBorrar()'><mat-icon>delete</mat-icon></button>
    </div>
    </mat-toolbar>

  </div>
  <div class="content">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <table>
          <tr>
            <div *ngIf='descripcion'>
              <b>Definición: </b>
              <div data-testid="description">
                {{descripcion}}
              </div>
            </div>
          </tr>
          <tr>
            <div *ngIf='palabrasIng.length > 0'>
              <b>Traducción al inglés: </b>
              <div *ngFor="let palabraTraducida of palabrasIng">
                {{palabraTraducida.palabra}}
              </div>
            </div>
          </tr>
          <tr>
            <div *ngIf='palabraCont?.fechaAlta'>
              <b>Fecha Alta: </b>
              <div>
                {{palabraCont?.fechaAlta | date: 'dd-MM-yyyy'}}
              </div>
            </div>
          </tr>
          <tr>
            <div *ngIf='palabraCont?.fechaModificacion'>
              <b>Fecha Modificación: </b>
              <div>
                {{palabraCont?.fechaModificacion | date: 'dd-MM-yyyy'}}
              </div>
            </div>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>